<section class="mainBox">
    <mat-card class="wCard" data-aos="fade-in" data-aos-delay="500">
        <mat-card-header color="primary">
           <mat-card-title data-aos="fade-in" data-aos-delay="1500">Hello, let's see the weather!</mat-card-title>
           <mat-card-subtitle data-aos="fade-in" data-aos-delay="2500">
                Location:<b> {{importedData.location.city}}, {{importedData.location.region}}, {{importedData.location.country}}</b>
           </mat-card-subtitle>
        </mat-card-header>

        <div data-aos="fade-in" data-aos-delay="2500">
            <mat-card-content *ngIf="state == 'current'">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="Current Weather">{{getDescriptionIcon(importedData.item.condition.text)}}</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Current Weather: <b> {{importedData.item.condition.text}}</b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="Temperature">height</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Current Temperature: <b>{{importedData.item.condition.temp}} {{importedData.units.temperature}}</b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="High Temperature">trending_up</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Today's High Temp.: <b>{{getEdgeTemp(false,importedData.item)}} </b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="Low Temperature">trending_down</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Today's Low Temp.: <b>{{getEdgeTemp(true,importedData.item)}} </b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                 <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                   <mat-expansion-panel-header>
                     <mat-panel-title>
                       See more information
                     </mat-panel-title>
                     <mat-panel-description>
                       (Wind speed, humidity, pressure, sunrise/sunset)
                     </mat-panel-description>
                   </mat-expansion-panel-header>
                   <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="Current Weather">flag</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Wind speed: <b> {{importedData.wind.speed}} {{importedData.units.speed}}</b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="Temperature">cloud</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Humidity: <b> {{importedData.atmosphere.humidity}}</b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="High Temperature">timeline</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Pressure: <b> {{importedData.atmosphere.pressure}} {{importedData.units.pressure}}</b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div flex="100" class="gridInnerWrap">
                            <div class="gridInnerContent">
                                <mat-icon aria-hidden="false" aria-label="Low Temperature">wb_sunny</mat-icon>
                            </div>
                            <div class="gridInnerContent">
                                <p>Sunrise - sunset: <b>{{importedData.astronomy.sunrise}} - {{importedData.astronomy.sunset}} </b></p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                 </mat-expansion-panel>
             </mat-card-content>
     
            <mat-card-content *ngIf="state == 'forecast'" style="max-width:700px!important;max-height:500px!important;"> 
                 <!--<canvas id="myChart"></canvas>-->
                 <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </mat-card-content>
        </div>
        

        <mat-card-actions data-aos="fade-in" data-aos-delay="3000">
           <button color="primary" mat-raised-button *ngIf="state == 'current'" (click)="state = 'forecast'">Show Forecast</button>
           <button color="accent" mat-raised-button *ngIf="state == 'forecast'" (click)="state = 'current'">Show Current</button>
        </mat-card-actions>
     </mat-card>

    
</section>
